html, body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

main{
    background-color: bisque;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section{
    align-items: center;
    margin: 5px;
    width: 50%;
    background-color: azure;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    flex: 50% 50% 30%;
}

button{
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin: 5px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 0;
}

li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    border: 1px solid gray;
}

p{
    margin: 10px 5px;
}

#addTask{
    background-color: rgb(36, 247, 43);
}
  
.completeButton{
    background-color: rgb(36, 247, 43);
}

#deleteAllCompletedTasks{
    background-color: rgb(249, 5, 5);
}

.deleteButton{
    background-color: rgb(249, 5, 5);
}

.completedTask{
    background-color: chartreuse;
}

#strawberry {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  

  .line {
    height: 3px;
    background-color: #000;
  }

  .line:nth-child(1){
    width: 100%;
  }

  .line:nth-child(2){
    width: 66%;
  }

  .line:nth-child(3){
    width: 33%;
  }

  .inactive{
    display: none;
  }

  #filterList{
    position: absolute;
    width: 125px;
    height: 75px;
    background-color: #fff;
  }

  #filterList li{
    width: 90%;
    background-color: #fff;
  }