/*Importación de fuente*/
@font-face {
    font-family: "Old French";
    src: url(../Fonts/meta-old-french/meta-old-french.ttf);
}
 /*Estilo de raíz*/
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: "Old French", sans-serif;
    background-image: url(../img/paisaje.webp);
    background-size: cover;
    color: #fff;
    display:flex;
    flex-direction: column;
}
 /*Cabecera de página*/

header{
    background-color: #021C1E;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    font-size: 1.5em;
}

header > img{
    width: 10%;
    height: 20%;
    object-fit: contain;
}


header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Menú de navegación*/
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Iconos de banderas*/

.icono{
    width: 1.5rem;
    object-fit: contain;
}

/*Contenido principal*/

main{
    width: 100%;
    height: 100%;
    display: grid;  
    grid-template-columns: 1fr;
}

main h2{
    margin: 0;
    padding: 15px 0 0 15px;
}

p{
    margin: 0;
    padding: 10px;
}

img{
    width: 30%;
    height: 50%;
    object-fit: contain;
}

/*Sección about us*/

.Aboutus{
    background-color: #2C7873ab;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    margin-top: 15px;
}

.Aboutus div{
    align-self: center;
}

.Aboutus h2{
    grid-area: 1/1/1/1;
    margin: 0;
    text-align: center;
}

.Aboutus p{
    grid-area: 2/1/2/1;
    margin: 0;
}

.Aboutus img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    grid-area: 1/2/2/2;
    align-self: center;
}

/*Sección Services*/

.Services{
    background-color:#2C7873ab;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Services h2{
    margin: 0;
    padding: 10px;
    text-align: center;
    grid-area: 1/1/1/5;
}

.Services-items{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.Services-items img{
    width: 22%;
    height: 50%;
    object-fit: contain;
}
/*Sección Portfolio*/

.Portfolio{
    background-color: #2C7873ab;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Portfolio h2{
    background-color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
    grid-area: 1/1/1/4;
}

/*Seccion Contact us*/

.Contactus{
    background-color: #2C7873ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contactus h2{
    margin: 0;
    padding: 10px;
    text-align: center;
}

/*Formulario de contacto*/

form{
    grid-template-columns:1em 40%; 
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: auto;
    color: #000;
    padding: 10px;
    
}

fieldset{
    display: grid;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    width:50%;
    max-height: 200px;
    max-width: 150px;
}

label{
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 5px;
}

.Contactus input[type="text"],.Contactus input[type="email"], .Contactus textarea{
    margin: 5px 0px;
    border-radius: 10px;
    border: 1px solid #000;
}

.Contactus textarea{
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}

.Contactus input:last-child{
    grid-area: 4/2;
    background-color: #19b0fc;
    color: black;
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

/* estilos de pie */
footer{
    background-color: #021C1E;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3{
    margin: 0;
    padding: 10px;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li a:hover{
    color: #6FB98F;
}


footer ul li img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

ul li{
    display: inline;
    margin: 1px 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}
/*Media Queries*/
/*Para móviles*/
@media only screen and (max-width: 767px) {
    body{
        font-size: 0.6em;
    }
    
    header > img{
        display: none;
    }

    header .icono{
        display: none;
    }

    header{
        justify-content: center;
    }

    footer{
        flex-direction: column;
    }
}

/*Para tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{
        font-size: 0.8em;
    }

    header > img{
        display: none;
    }

    header .icono{
        width: 1em;
    }
}

/*Para equipos portátiles*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body{
        font-size: 1em;
    }
    header .icono{
        width: 1.3em;
    }
    header > img{
        width: 5%;
    }
}
/*Para equipos de sobremesa*/
@media only screen and (min-width: 1200px) {
    body{
        font-size: 1.1em;
    }
    header .icono{
        width: 1.4em;
    }
    header > img{
        width: 7%;
    }
}